out.log
*.pprof
*.pdf
gogen
test.out
.vscode
build.sh
.githubtoken
linecount.sh
gogen-api/getswagger.sh
local/**
.vim*
.bash*
.aws*
.profile
.screenrc
splunk_app_gogen.spl
.configcache*
.versioncache*
roveralls*
.specstory
.pyvenv
gogen-api/__pycache__
gogen-api/build
ui/node_modules/*
ui/dist/*
ui/build/*
ui/coverage/*
ui/public/gogen.wasm
ui/.vite